<a href="https://colab.research.google.com/github/pnkjjha/BuildNExperiment/blob/main/googlecolab_Spark_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=541b0f119648d31a67bae38caf51e4a30f32879ccbdfed74780c84934de75751
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f

In [ ]:
import requests

In [ ]:
spark = SparkSession.builder.appName('practice').getOrCreate()

In [ ]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet"
response = requests.get(url, stream=True)
with open("yellow_tripdata_2024-01.parquet", "wb") as f:
    for chunk in response.iter_content(chunk_size=1024):
        if chunk:
            f.write(chunk)

In [ ]:
# Read the Parquet file from the local file system
df1 = spark.read.parquet("yellow_tripdata_2024-01.parquet")

In [ ]:
df1.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|
|       1| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|          1.8|         1|                 N|         140|         236|           1|       10.0|  3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|
|       1| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|          4.7|         1|                 N|         236|          79|           1|       23.3|  3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|
|       1| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|          1.4|         1|                 N|          79|         211|           1|       10.0|  3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|
|       1| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|          0.8|         1|                 N|         211|         148|           1|        7.9|  3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0|
|       1| 2024-01-01 00:54:08|  2024-01-01 01:26:31|              1|          4.7|         1|                 N|         148|         141|           1|       29.6|  3.5|    0.5|       6.9|         0.0|                  1.0|        41.5|                 2.5|        0.0|
|       2| 2024-01-01 00:49:44|  2024-01-01 01:15:47|              2|        10.82|         1|                 N|         138|         181|           1|       45.7|  6.0|    0.5|      10.0|         0.0|                  1.0|       64.95|                 0.0|       1.75|
|       1| 2024-01-01 00:30:40|  2024-01-01 00:58:40|              0|          3.0|         1|                 N|         246|         231|           2|       25.4|  3.5|    0.5|       0.0|         0.0|                  1.0|        30.4|                 2.5|        0.0|
|       2| 2024-01-01 00:26:01|  2024-01-01 00:54:12|              1|         5.44|         1|                 N|         161|         261|           2|       31.0|  1.0|    0.5|       0.0|         0.0|                  1.0|        36.0|                 2.5|        0.0|
|       2| 2024-01-01 00:28:08|  2024-01-01 00:29:16|              1|         0.04|         1|                 N|         113|         113|           2|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2024-01-01 00:35:22|  2024-01-01 00:41:41|              2|         0.75|         1|                 N|         107|         137|           1|        7.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0|
|       1| 2024-01-01 00:25:00|  2024-01-01 00:34:03|              2|          1.2|         1|                 N|         158|         246|           1|       14.9|  3.5|    0.5|      3.95|         0.0|                  1.0|       23.85|                 2.5|        0.0|
|       1| 2024-01-01 00:35:16|  2024-01-01 01:11:52|              2|          8.2|         1|                 N|         246|         190|           1|       59.0|  3.5|    0.5|     14.15|        6.94|                  1.0|       85.09|                 2.5|        0.0|
|       1| 2024-01-01 00:43:27|  2024-01-01 00:47:11|              2|          0.4|         1|                 N|          68|          90|           1|        5.8|  3.5|    0.5|      1.25|         0.0|                  1.0|       12.05|                 2.5|        0.0|
|       1| 2024-01-01 00:51:53|  2024-01-01 00:55:43|              1|          0.8|         1|                 N|          90|          68|           2|        6.5|  3.5|    0.5|       0.0|         0.0|                  1.0|        11.5|                 2.5|        0.0|
|       1| 2024-01-01 00:50:09|  2024-01-01 01:03:57|              1|          5.0|         1|                 N|         132|         216|           2|       21.2| 2.75|    0.5|       0.0|         0.0|                  1.0|       25.45|                 0.0|       1.75|
|       1| 2024-01-01 00:41:06|  2024-01-01 00:53:42|              1|          1.5|         1|                 N|         164|          79|           1|       12.8|  3.5|    0.5|      4.45|         0.0|                  1.0|       22.25|                 2.5|        0.0|
|       2| 2024-01-01 00:52:09|  2024-01-01 00:52:28|              1|          0.0|         1|                 N|         237|         237|           2|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2024-01-01 00:56:38|  2024-01-01 01:03:17|              1|          1.5|         1|                 N|         141|         263|           1|        9.3|  1.0|    0.5|       3.0|         0.0|                  1.0|        17.3|                 2.5|        0.0|
|       2| 2024-01-01 00:32:34|  2024-01-01 00:49:33|              1|         2.57|         1|                 N|         161|         263|           1|       17.7|  1.0|    0.5|      10.0|         0.0|                  1.0|        32.7|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
df1.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [ ]:
df1.count()

2964624

In [ ]:
df1.first()

Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2024, 1, 1, 0, 57, 55), tpep_dropoff_datetime=datetime.datetime(2024, 1, 1, 1, 17, 43), passenger_count=1, trip_distance=1.72, RatecodeID=1, store_and_fwd_flag='N', PULocationID=186, DOLocationID=79, payment_type=2, fare_amount=17.7, extra=1.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=22.7, congestion_surcharge=2.5, Airport_fee=0.0)

In [ ]:
df1.filter(df1.VendorID == 1).count()

729732

In [ ]:
df1.groupBy('VendorID').count().show()

+--------+-------+
|VendorID|  count|
+--------+-------+
|       1| 729732|
|       2|2234632|
|       6|    260|
+--------+-------+

when mentioning groupy you dont have to mention select because they are always same set of columns.

In [ ]:
df1.groupBy('VendorID').sum('tip_amount').orderBy('VendorID', ascending=False).show()

+--------+------------------+
|VendorID|   sum(tip_amount)|
+--------+------------------+
|       6|               0.0|
|       2| 7700953.170000889|
|       1|2188647.1400000826|
+--------+------------------+

In [ ]:
df1.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|
|       1| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|          1.8|         1|                 N|         140|         236|           1|       10.0|  3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|
|       1| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|          4.7|         1|                 N|         236|          79|           1|       23.3|  3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|
|       1| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|          1.4|         1|                 N|          79|         211|           1|       10.0|  3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|
|       1| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|          0.8|         1|                 N|         211|         148|           1|        7.9|  3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [ ]:
df1.createOrReplaceTempView("taxi_data")

In [ ]:
%sql select vendorID, sum(tip_amount) from taxi_data group by VendorID

UsageError: Line magic function `%sql` not found.

In [ ]:
spark.sql("""select vendorID
, sum(tip_amount)
from taxi_data
group by VendorID""").show()

+--------+------------------+
|vendorID|   sum(tip_amount)|
+--------+------------------+
|       1|2188647.1400000826|
|       2| 7700953.170000889|
|       6|               0.0|
+--------+------------------+

In [ ]:
arr = [[[2,3,4],'first row'],[[11,22,33],'second row'],[[111,222,333],'third row']]
error_df=spark.createDataFrame(arr,schema=["arr","row desc"])

In [ ]:
error_df.show()

+---------------+----------+
|            arr|  row desc|
+---------------+----------+
|      [2, 3, 4]| first row|
|   [11, 22, 33]|second row|
|[111, 222, 333]| third row|
+---------------+----------+

In [ ]:
error_df.select(f.explode('arr').alias('arr1_name'),"row desc").show()

+---------+----------+
|arr1_name|  row desc|
+---------+----------+
|        2| first row|
|        3| first row|
|        4| first row|
|       11|second row|
|       22|second row|
|       33|second row|
|      111| third row|
|      222| third row|
|      333| third row|
+---------+----------+

explode might be useful in dealing with JSON dataset where a column can have a array of value. and we want it to normalize.

In [ ]:
error_df.cache()

DataFrame[arr: array<bigint>, row desc: string]

reading csv data in pyspark dataframe
https://docs.databricks.com/en/ingestion/file-upload/download-internet-files.html
```csv_df=spark.read.csv('https://raw.githubusercontent.com/thewiremonkey/factbook.csv/master/data/c2001.csv',header=True,inferSchema=True)```
<br>
```csv_df.show()```

In [ ]:
team_df = [["A",2,3,4]
           ,["B",1,2,3]
           ,["C",8,9,10]]
col = ["Name","forward","center","back"]
df2 = spark.createDataFrame(team_df,col)

In [ ]:
df2.show()

+----+-------+------+----+
|Name|forward|center|back|
+----+-------+------+----+
|   A|      2|     3|   4|
|   B|      1|     2|   3|
|   C|      8|     9|  10|
+----+-------+------+----+

In [ ]:
df3 = df2.unpivot(ids=["Name"]\
         ,values = ["forward","center","back"]\
         ,variableColumnName="position"\
         ,valueColumnName="Count")

In [ ]:
df3.show()

+----+--------+-----+
|Name|position|Count|
+----+--------+-----+
|   A| forward|    2|
|   A|  center|    3|
|   A|    back|    4|
|   B| forward|    1|
|   B|  center|    2|
|   B|    back|    3|
|   C| forward|    8|
|   C|  center|    9|
|   C|    back|   10|
+----+--------+-----+

In [ ]:
df3.offset(3).show()

+----+--------+-----+
|Name|position|Count|
+----+--------+-----+
|   B| forward|    1|
|   B|  center|    2|
|   B|    back|    3|
|   C| forward|    8|
|   C|  center|    9|
|   C|    back|   10|
+----+--------+-----+

In [41]:
def getmysubstring(str_length,str_lit):
  adj_dict={}
  for chr_index in range(len(str_lit)-1):

    if str_lit[chr_index] not in adj_dict.keys():
      adj_dict[str_lit[chr_index]]=[]

    if str_lit[chr_index] != str_lit[chr_index+1] and \
       str_lit[chr_index+1] not in adj_dict[str_lit[chr_index]]:

      adj_dict[str_lit[chr_index]]= adj_dict[str_lit[chr_index]] + [str_lit[chr_index+1]]

    if chr_index > 0 and \
       str_lit[chr_index] != str_lit[chr_index-1] and \
       str_lit[chr_index-1] not in adj_dict[str_lit[chr_index]]:
      adj_dict[str_lit[chr_index]]= adj_dict[str_lit[chr_index]] + [str_lit[chr_index-1]]
  key='b'
  vstr=''
  print(adj_dict)
  for i in range(str_length):
    if len(adj_dict[key]) >= 2 and\
        key not in vstr:
      vstr = vstr + key
      key = adj_dict[key][0]

  if len(vstr) < str_length:
    return 'not possible'
  else:
    return vstr

getmysubstring(4,"abaddfg")

{'a': ['b', 'd'], 'b': ['a'], 'd': ['a', 'f'], 'f': ['g', 'd']}

'not possible'